@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  background: black;
}

span {
  color: #ffff;
}

.employees.blur {
  filter: blur(4px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 2em;
  padding-bottom: 5em;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity as needed */
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.modal-heading svg {
  cursor: pointer;
  margin-right: -10px;
  font-size: 1rem;
}

.custom-header-text {
  font-size: 5px;
}

.modal h2 {
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.modal-content {
  background-color: #ffff;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 5px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.modal-content label {
  margin-bottom: 1rem;
  color: #675858;
  font-size: 12px;
}

.modal-heading h2 {
  font-size: 12px;
}

.modal-content input,
.modal-content select {
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.department-filter:hover {
  border-bottom: 2px solid orange;
  color: #000000;
}

.dot.software {
  background-color: #ff5722; /* Define the color for the Software Engineering department */
}

.dot.administrative {
  background-color: #2196f3; /* Define the color for the Administrative department */
}

.dot.hr {
  background-color: #f44336; /* Define the color for the Human Resources department */
}

.contract-status {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  color: #00A5FF;
  background-color: #ADD8E6;
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600; 
}

.intern-status {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  color: #FC3400;
  background-color: rgb(237, 199, 199);
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.fulltime-status {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  color: #5542F6;
  background-color: #bfbcdc;
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.parttime-status {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  color: #5542F6;
  background-color: #bfbcdc;
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.kebab-menu-trigger {
  cursor: pointer;
}

.view-buttons {
  display: flex;
}
.view-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer; 
}

button {
  padding: 0.3rem 15rem;
  border: none;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 0.5em;
  background: #ec5c28;
  color: #ffff;
  font-size: 1rem;
  font-weight: 800;
  white-space: nowrap;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="file"],
.modal-content input[type="email"] {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 12px;
}

label {
  text-align: left;
  margin-right: 50px;
  width: 30%; /* Adjust the width as needed */
  display: inline-block;
}
input {
  margin: 0;
  display: block;
}

.file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px dashed #ec5c28;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ec5c28;
}

.file-upload-icon {
  font-size: 48px;
  color: #ec5c28;
}

.file-input-icon span {
  font-size: 13px;
  color: #000000;
}

.file-upload-text {
  font-size: 14px;
  color: #ec5c28;
}

.file-upload-label input[type="file"] {
  display: none;
}

.file-input-icon {
  display: flex;
  flex-direction: row;
  margin-top: -3.7em;
}

.custom-grid .e-gridheader th {
  border: none;
}

.custom-grid .e-headercell .e-headertext {
  color: gray;
  font-size: 0.85rem;
  font-weight: 800;
}

.custom-grid .e-gridheader .e-headercell.department-column {
  text-align: right;
  padding-right: -4rem; /* Adjust the left padding as needed */
}

.search-input-container {
  position: relative;
}

.search-input {
  padding-left: 30px;
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 40%;
  left: 18px;
  transform: translateY(-50%);
  pointer-events: none;
}

.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 165, 0);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

/* Add Employee notification */
.btn-primary {
  background: #ec5c28;
  z-index: 9999;
  color: #fff;
  border: 1px solid #f00;
  border-radius: 5px;
  padding: 8px 8px;
}

.btn-primary:hover {
  color: #ec5c28;
  background: #fff;
}

.darker-icon {
  color: #000000; /* Change to your desired darker color */
  font-weight: bold;
  font-size: 20px;
}

.bold-icon {
  font-weight: bold;
}
