@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  background: black;
}

span {
  color: #ffff;
}

.employees.blur {
  filter: blur(4px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
}

.modal h2 {
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 2rem;
}

.modal-content {
  background-color: #ffff;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 20px;
  max-width: 750px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 2.8rem;
}

.modal-content label {
  margin-bottom: 1rem;
  color: #000000;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: .2rem;
  margin-bottom: 1rem;
}

.modal-content button {
  padding: 1rem 20rem;
  border: none;
  border-radius: 7px;
  align-items: center;
  margin-top: 2.5rem;
  background: #ec5c28;
  color: #ffff;
  font-size: 1rem;
  font-weight: 600
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="file"],
.modal-content input[type="email"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

.file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px dashed #ec5c28;;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ec5c28;
}

.file-upload-icon {
  font-size: 48px;
  margin-bottom: 8px;
  color: #ec5c28;
}

.file-upload-text {
  font-size: 14px;
  color: #ec5c28;
}

.file-upload-label input[type="file"] {
  display: none;
}

.file-input-icon {
  display: flex;
  flex-direction: row;
  background: #e6dcdc;
  padding-right: 4px;
  
  border-radius: 5px;
}

.file-input-icon span {
  color: #000000;
}

.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 165, 0);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}